---
import { Image } from 'astro:assets'

import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import config from '@/site-config'

const headings = [
  { depth: 2, slug: 'website', text: 'Website' },
  { depth: 2, slug: 'sponsorship', text: 'Sponsorship' }
]
---

<PageLayout title='Projects' {headings} info={{ slug: '/projects', hideComment: true }}>
  <p>Github Activities:</p>
  <p>
    <Image
      src='https://ghchart.rshah.org/659eb9/xj63'
      alt='github activities'
      inferSize
      loading='lazy'
    />
  </p>

  <h2 id='website'>Website</h2>
  <ProjectSection
    project={[
      {
        name: 'TickTime',
        description:
          'TickTime is a time app that elegantly displays the current time and an inspirational quote.',
        links: [
          { type: 'site', href: 'https://ticktime.xj63.fun' },
          { type: 'github', href: 'https://github.com/xj63/TickTime' },
          { type: 'doc', href: 'https://github.com/xj63/TickTime#features' }
        ]
      }
    ]}
  />

  <!-- sponsorship -->
  <h2 id='sponsorship'>Sponsorship</h2>
  <p>感谢您考虑赞助支持！目前暂时未提供赞助功能，但您的支持心意我们非常感激。</p>
  <p>如果您喜欢我们的项目，欢迎通过Star、分享或贡献代码来支持我们！</p>
</PageLayout>

<script
  is:inline
  type='module'
  data-astro-rerun
  define:vars={{ npmCDN: config.npmCDN, walineServer: config.integ.waline.server }}
>
  const loadPageviewCount = async () => {
    const pageview = await import(`${npmCDN}/@waline/client@v3/dist/pageview.js`)
    pageview.pageviewCount({
      serverURL: walineServer,
      path: window.location.pathname
    })
  }

  await loadPageviewCount()
</script>
